.cardcontainer {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.containersubtitulo {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--clrAmarillo);
	padding: 1rem;
	border-radius: 1rem;
	box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
	margin: 0 2rem;
}

.buttoncard {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.subtitulocard {
	font-size: 2rem;
	color: var(--clrAzul);
	background-color: var(--clrAmarillo);
	margin: 1rem;
}

.imgcard {
	border-radius: 10%;
	border: 0.5rem solid var(--clrAmarillo);
	width: 100%;
	max-width: 400px;
	height: auto;
}

button {
	background-color: var(--clrAmarillo);
	cursor: pointer;
	border: none;
	padding: 1rem 2.1rem;
	color: var(--clrRosa);
	font-size: 1rem;
	font-weight: bold;
	position: relative;
	border-radius: 1.2rem;
}
button::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		45deg,
		var(--clrRosa),
		var(--clrAzul),
		var(--clrVerde),
		var(--clrAmarillo),
		var(--clrRosa),
		var(--clrAzul),
		var(--clrVerde),
		var(--clrAmarillo)
	);
	background-size: 800%;
	border-radius: 1rem;
	filter: blur(0.8rem);
	animation: glowing 20s linear infinite;
}
@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
button:hover {
	background-color: var(--clrRosa);
	color: var(--clrVerde);
}

@media (max-width: 768px) {
	.containersubtitulo {
		margin: 0 1rem;
	}

	.subtitulocard {
		font-size: 1.5rem;
	}
}
