:root {
	--clrRosa: #ff0080;
	--clrAzul: #278bc4;
	--clrVerde: #ccff00;
	--clrAmarillo: #ffed00;
}
* {
	margin: 0;
	padding: 1em;
	box-sizing: border-box;
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

body {
	background: url('./components/assets/imgram/logo-rick-and-morty.jpg')
		no-repeat;

	background-attachment: fixed;
	background-size: cover;
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100vh;
}
@media (max-width: 768px) {
	body {
		font-size: 0.8rem;
		background-size: cover;
	}
}
