.searchBar {
	display: flex;
	justify-content: right;
	align-items: center;
}

.searchInput {
	position: relative;
	width: 1rem;
	height: 3rem;
	border-radius: 15px;
	padding: 1rem;
	transition-duration: 500ms;
	cursor: pointer;
	font-size: 12px;
	background-image: url('../../components/assets/imgram/Reddit.png');
	background-repeat: no-repeat;
	background-size: 70px;
	border: 1px solid var(--clrRosa);
	overflow: hidden;
	background-position: 45% 50%;
}
.searchInput:hover {
	border: 1px solid var(--clrAzul);
}
.searchInput::placeholder {
	color: black;
	font-size: 15px;
}
.searchInput:focus {
	width: 200px;
	cursor: text;
	color: var(--clrRosa);
	outline: none;
	background-color: var(--clrAmarillo);
	border: 1px solid var(--clrVerde);
	background-position: 10px 50%;
}
.searchInput:focus::placeholder {
	color: transparent;
}

.searchInput:focus .search-button {
	background-color: var(--clrAmarillo);
}

.searchButton {
	margin: 2px;
}

/* estilos para pantallas más pequeñas */
@media (max-width: 768px) {
	.searchBar {
		justify-content: center;
	}

	.searchInput {
		width: 100%;
		max-width: 300px;
		background-position: 10px 50%;
	}

	.searchInput:focus {
		padding-left: 20px;
	}

	.searchButton {
		margin: 0px;
	}
}

/* estilos para pantallas más grandes */
@media (min-width: 768px) {
	.searchBar {
		justify-content: right;
	}

	.searchInput {
		width: 60px;
		max-width: none;
		background-position: 45% 50%;
	}

	.searchInput:focus {
		padding-left: 100px;
	}

	.searchButton {
		margin: 20px;
	}
}
